html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Indie Flower", cursive;

    margin: 0;
    color: #2b2b2b;
    background-color: #e2ded4;
    background: repeating-linear-gradient(
        #e2ded4,
        #e2ded4 25px,
        #9198e5a6 26px,
        #9198e5a6 27px
    );
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#form-start-game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

input,
button {
    font-size: inherit;
    font-family: inherit;
    border: none;
}

input {
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    outline: none;
}

input:focus,
button:hover {
    box-shadow: 5px 5px 0px #343434;
    transition: 0.4s;
}

button[type="submit"] {
    background-color: transparent;
    border-style: solid;
    border-color: #daaa25;
    border-radius: 10px;
    padding: 10px;
    width: min-content;
    margin-top: 20px;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    height: 250px;
    margin-top: 20px;
}

.position {
    width: 33.33%;
    height: 33.33%;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#position-0 {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

#position-1 {
    border-bottom: 2px solid black;
}

#position-2 {
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}

#position-3 {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

#position-4 {
    border-bottom: 2px solid black;
}

#position-5 {
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}

#position-6 {
    border-right: 2px solid black;
}

#position-8 {
    border-left: 2px solid black;
}

.taken {
    cursor: not-allowed;
}

.xs {
    color: #a32a2a;
}

.os {
    color: #2938c4;
}

.hidden {
    display: none !important;
}

#winner {
    font-size: 20px;
    font-weight: 600;
    margin-top: 40px;
    height: 40px;
}
