html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Indie Flower", cursive;

    margin: 0;
    color: #2b2b2b;
    background-color: #e2ded4;
    background: repeating-linear-gradient(
        #e2ded4,
        #e2ded4 25px,
        #9198e5a6 26px,
        #9198e5a6 27px
    );
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

h1 {
    margin-top: 25px;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#form-start-game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#players-quantity-container {
    display: flex;
    flex-direction: column;
    font-size: 25px;
}

#players-quantity-container > label {
    margin-top: 10px;
    transform: skewX(-20deg);
}

#players-quantity-container > label:hover {
    cursor: pointer;
}

.players-selected {
    font-weight: 600;
    background-color: #da25d159;
}

input,
button {
    font-size: inherit;
    font-family: inherit;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

input {
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    outline: none;
}

button:hover {
    color: #34a31e;
    font-weight: 600;
    transition: 0.4s;
}

button[type="submit"] {
    background-color: transparent;
}

#start-btn-container {
    font-size: 30px;
    background-color: transparent;
    border-radius: 9px 6px 8px 25px;
    border-bottom: 6px solid #43da257a;
    padding: 10px;
    width: min-content;
    margin-top: 50px;
    transform: rotate(-9deg);
}

#grid {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    height: 250px;
    margin-top: 20px;
}

.position {
    width: 33.33%;
    height: 33.33%;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#position-0 {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

#position-1 {
    border-bottom: 2px solid black;
}

#position-2 {
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}

#position-3 {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

#position-4 {
    border-bottom: 2px solid black;
}

#position-5 {
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}

#position-6 {
    border-right: 2px solid black;
}

#position-8 {
    border-left: 2px solid black;
}

.taken {
    cursor: not-allowed;
}

.xs {
    color: #a32a2a;
}

.os {
    color: #2938c4;
}

.winning-position {
    background-color: #43da257a;
}

.hidden {
    display: none !important;
}

#game-over {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#winner-container {
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    padding: 7px 19px 40px;
    height: 30px;
    border-radius: 66px 30px 69px 1px;
    border-top: 5px solid #43da257a;
    border-bottom: 5px solid #43da257a;
    transform: rotate(-9deg);
    position: relative;
}

#marker {
    position: absolute;
    left: 0;
    height: 30px;
    width: 110px;
    border-radius: 9px 35px 10px 41px;
    border-right: 6px solid #43da257a;
    border-left: 6px solid #43da257a;
    transform: rotate(-9deg);
}

#play-again {
    font-size: 20px;
    font-weight: 600;
    border-bottom: 5px solid #43da257a;
    transform: rotate(1deg);
}
